# **Logistic Regression**


---

In [ ]:
# Importing important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import math
from sklearn.model_selection import train_test_split as splt
from sklearn.metrics import mean_squared_error as mse

In [ ]:
# Defining a customized random function:
# Inputs: a lower bound, b upper bound, i = True whether integer, d = True whether decimal
# Output; A random number 
def randomnum (a, b, i = False, d = False, k = None):
    if i == True:
        return int(((random.randrange(0,10)/10)*(b-a))+a)
    else: return (((random.randrange(0,10**k)/10**k)*(b-a))+a)

Part 01: Dealing with data

In [ ]:
# Reading the data
data = pd.read_csv('/content/drive/MyDrive/Machine Learning/DataSets/LR_Multivariate.csv')
# Look at data
data = data.drop(labels='Yr',axis=1)
data

     X1  X2    X3     X4    X5  X6  X7  X8  X9  X10  X11  X12  Yc
0    18   3  0.34  0.025  0.85  27  37  35  26  396   12   14   0
1     4  43  0.45  0.145  0.65   6  11  13  16  119   42   27   1
2    12  12  0.76  0.765  0.70  20  32  35  28  364    2   12   1
3    11  90  0.97  0.755  0.60  10   0  43  41  459   23   38   1
4    36   7  0.56  0.935  0.00  46  35   4  43   91   28    2   1
..   ..  ..   ...    ...   ...  ..  ..  ..  ..  ...  ...  ...  ..
744  10  11  0.77  0.110  2.50   7  46   3  20  100   25   14   1
745  35  53  0.60  0.750  1.60   0  14   2   6   98   21   49   1
746  20   0  0.66  0.740  1.60  31   8  46  46  245    7   23   1
747  21  68  0.56  0.025  0.60   3  28  22  17    2   30    6   1
748  12   2  0.83  0.995  2.50   1  11  36  45   86   30    8   1

[749 rows x 13 columns]

Part 02: Dividing the data

In [ ]:
# Dividing the data into feature and label
x,y = data.drop(labels='Yc', axis = 1), data['Yc']
xtr,xte,ytr,yte = splt(x,y,test_size=0.2,random_state=1)

Part 03: Defining the Required Function

In [ ]:
# Goal:  Define a function Gradient Descent that takes two arrays and gives back the w and b
# Inputs: x, y, lr, epoch
# outputs: W
def Grad_Des (x,y,lr=0.02,epoch=10):
    idx = x.index
    x = np.c_[np.ones((x.shape[0],1)),x]
    W = np.ones(x.shape[1])
    m = y.shape[0]
    for i in range(epoch):
        y_hat = sigmoid(W,x)
        W = W - (1/m)*lr*( x.T.dot((y_hat - y)))
    return W

In [ ]:
# Goal: Define a function that gives the sigmoid value 
# Inputs: W and X
# Output: Y_hat
def sigmoid (w, x):
    pred = np.dot(w,x.T)/1000000
    a = np.exp((pred))
    pred1 = (a/(1+a))+1e-9
    for i in range(0,x.shape[0]):
        if pred1[i] == None:
            pred1[i] = 0
        if pred1[i] >= 0.5:
            pred1[i] = 1         
        else: pred1[i] = 0
    return pred1

In [ ]:
print(Grad_Des(xtr,ytr))

[0.9887813  0.55709516 0.23278798 1.00815726 0.99407045 0.98508347
 0.13322204 0.6424374  0.65986644 0.71442404 0.90123539 0.68203673
 0.63148581]

Part 04: Defining the LOGISTIC REGRESSION function

In [ ]:
# Goal: Defining the Logistic Reression function
# Input: xtr, ytr (the train x andd y), xte, lr
# Output: a prediction y_pred
def Log_Reg (xtr,ytr,xte,lr=0.02,epoch=10):
    # Finding the weights from grad descent
    W = Grad_Des(xtr,ytr,lr,epoch)
    # Adjusting the shape of xtr
    xte = np.c_[np.ones((xte.shape[0],1)),xte]
    # Finding the prediction
    y_pred = sigmoid(W, xte)
    # Return the prediction
    return y_pred

In [ ]:
yte_p = Log_Reg(xtr,ytr,xte)

In [ ]:
# Finding the number of correct answers
correct = 0
idx = xte.index
for i, j in zip(idx, range(int(yte_p.shape[0]))):
    if yte[i] == yte_p[j]:
        correct += 1
print('The accuracy of the Log Reg is :',correct/len(idx))

The accuracy of the Log Reg is : 0.72

Part 05: The Accuracy Calculator

In [ ]:
# Goal: Define  acc_cal
# Input: x (an array), x_pred (an array)
# Output: The accuracy
def acc_cal (y, yp):
    crt = 0
    for i, j in zip(range(len(y)), range(len(yp))):
        if y[i]  == yp[j]:
            crt += 1
    print('The accuracy of the process is :',crt/len(y))

In [ ]:
acc_cal(np.array(yte),yte_p)

The accuracy of the process is : 0.72



---